In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
Titanic = sns.load_dataset('titanic')
Titanic.head()

In [ ]:
sns.displot(Titanic['fare'])

In [ ]:
sns.jointplot(x='age', y='fare', data= Titanic)

In [ ]:
sns.jointplot(x='age',y='fare',data=Titanic,kind='hex')

In [ ]:
plt.show()

In [ ]:
sns.pairplot(Titanic)

In [ ]:
plt.show()

In [ ]:
Titanic = Titanic.dropna()

In [ ]:
sns.pairplot(Titanic,hue='sex')

In [ ]:
sns.barplot(x='sex',y='age', data=Titanic)

In [ ]:
plt.show()

In [ ]:
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

sns.barplot(x='sex',y='age',data=Titanic,estimator=np.std)

In [ ]:
plt.show()

In [ ]:
sns.boxplot(x='sex',y='age',data=Titanic)

In [ ]:
plt.show()

In [ ]:
sns.barplot(x='pclass',y='survived',data=Titanic, hue='sex')

In [ ]:
plt.show()

In [ ]:
sns.stripplot(x='sex', y='age', data=Titanic)

In [ ]:
plt.show()

In [ ]:
sns.stripplot(x='sex', y='age', data=Titanic, jitter=True)

In [ ]:
plt.show()

In [ ]:
sns.stripplot(x='sex', y='age', data=Titanic, jitter=True, hue='survived')

In [ ]:
plt.show()

In [ ]:
sns.swarmplot(data=Titanic, x='pclass', y='age', hue='survived')

In [ ]:
plt.show()